.back {
    background-image: url("../images/back.jpg");
}

.topp {
    margin-top: -20px;
    background-color: burlywood;
}

.heading{
    font-size: 3rem;
    font-weight: bolder;
    padding: 20px;
    text-shadow: black;
}

h1 {
    font-size: 8rem;
    font-weight: bolder;
}

h2 {
    border-left: 50px solid burlywood;
    font-weight: bolder;
    padding-left: 15px;
}

h3 button{
    font-weight: bolder;
    color: burlywood;
}

h5 {
    color: burlywood;
    font-weight: bolder;
}

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
  }

ul li a {
    color: white;
    font-weight: bolder;
    text-decoration: white;
}

.nav-link {
    color: white;
    text-decoration: white;
}

.iconS img
{
   width: 30px;
   height: 30px;
}

.img img {
    width: 250px;
    height: 200px;
}

.khad {
    margin: 0px 0px 20px 0px;
}

.footer {
    background-image: url("../images/back.jpg");
}

.footer p {
    color: white;
    font-weight: bolder;
}

.len {
    margin: 20px 20px 20px 0px;
    text-align: justify;
}

.accordition-button {
    background-color: burlywood;
}

/* animation */
